@keyframes animPlayedNorth
  0%
    transform: translate3d(calc(-50%), calc(10vmin * 1.55721 + 20% ), 0)

  100%
    transform: translate3d(calc(10%), 10%, 0)

@keyframes animPlayedSouth
  0%
    transform: translate3d(calc(-50%), calc(100vh - 20vmin * 1.55721 - 20% - 1vmin), 0)

  100%
    transform: translate3d(calc(10%), calc(100vh - 10vmin * 1.55721 - 10% - 1vmin), 0)

.table
  background: $green
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden

  .table-bg
    position: absolute
    fill: rgba($white, .05)
    width: 100vmax
    right: 0
    bottom: 0
    transform: translate(30%, 15%) rotate(-25deg)

.seat
  &:after
    content: ''
    display: block
    position: absolute
    width: 24vmin
    height: calc(26vmin / 1.55721)
    background: $blue
    left: 50%
    top: 2vmin
    transform: translate(-50%, 0)
    border-radius: 1vmin

  .seat-infos
    position: absolute
    top: 0.125rem
    left: 50%
    transform: translate(-50%, 0)
    color: $white
    font-size: 1.125rem
    font-weight: bold

  &.seat-S
    &:after
      top: auto
      bottom: 2vmin

    .seat-infos
      top: auto
      bottom: 0.125rem

.card
  width: 10vmin
  left: 50%
  top: 1vmin
  position: absolute
  transition: all .3s .3s ease
  z-index: 1000

  &.card-N
    &.card-deck
      transform: translate3d(-110%, 10%, 0)

    &.card-inPlay,
    &.card-inPlayHidden
      transform: translate3d(-50%, calc(10vmin * 1.55721 + 20% ), 0)

    &.card-inPlayLose
      transform: translate3d(-50%, calc(100vh - 20vmin * 1.55721 - 20% - 2vmin ), 0)
      z-index: 0 !important

    &.card-played-lose,
    &.card-played-win,
      animation: animPlayedNorth .3s ease forwards

  &.card-S
    top: auto
    cursor: pointer
    transition: all .3s ease

    &.card-deck
      transform: translate3d(-110%, calc(100vh - 10vmin * 1.55721 - 10% - 1vmin ), 0)

    &.card-inPlay,
    &.card-inPlayHidden
      transform: translate3d(-50%, calc(100vh - 20vmin * 1.55721 - 20% - 1vmin ), 0)

    &.card-inPlayLose
      transform: translate3d(-50%, calc(10vmin * 1.55721 + 20% + 1vmin ), 0)
      z-index: 0 !important

    &.card-played-lose,
    &.card-played-win,
      animation: animPlayedSouth .3s ease forwards
