.home
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100vh

.main-header
  .header-top-bar
    height: 1.5rem
    background: $p-dark

  .header-brand
    display: flex
    justify-content: center
    align-items: center
    background: $primary
    color: $white
    padding: 2rem

    .header-icon
      width: 3rem
      height: 3rem
      margin-right: 0.5rem
      fill: $white

    .header-title
      font-weight: normal
      font-size: 2.5rem
      text-transform: uppercase

.main-footer
  padding: 1.5rem 0
  text-align: center
  font-size: 1.125rem

.main-body
  background: $secondary
  flex: 1
  position: relative
  overflow: hidden
  min-height: 22rem

  .logo-bg
    position: absolute
    fill: $white
    width: 50vmax
    right: 0
    bottom: 0
    transform: translate(30%, 15%) rotate(-25deg)

  .home-menu
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

    .home-menu-list
      display: flex
      flex-direction: column
      justify-content: space-around
      padding: 2rem 0
      margin: 0 auto
      width: 36rem
      height: 100%
      max-height: 30rem

      .home-menu-row
        display: flex
        flex-direction: row

        .home-menu-item
          display: flex
          flex: 1 1 100%

          + .home-menu-item
            margin-left: 2rem

          .home-menu-button
            display: flex
            width: 100%
            height: 8rem
            justify-content: center
            align-items: center
            font-size: 2rem
            border: .25rem solid $primary
            color: $white
            background: $white url(https://res.cloudinary.com/goto-games/image/upload/c_fit,w_1536/f_auto/v1599062749/homepage/img-Challenges.jpg)
            background-size: cover
            border-radius: 2rem
            padding: .75rem
            margin: .5rem 0
            cursor: pointer
            text-decoration: none
            transform: translate3d(0, 0, 0)
            transition: all .3s ease

            .home-menu-icon
              width: 2rem
              height: 2rem
              fill: $white
              transition: all .3s ease
              margin-right: .5rem

            &:hover
              background: $white
              color: $primary
              transform: translate3d(0, -.25rem, 0) scale(1.025)
              box-shadow: 0 .5rem 1rem 0 rgba($primary, .5)

              .home-menu-icon
                fill: $primary
